body{
	font-family: 'Raleway', sans-serif;
}

#conteneur {
	margin: auto;
	width: 1500px;
}
#conteneur a{
	text-decoration: none;
}
a:visited{
	color: black;
}
strong{
	color: black;
}
.salim{
	justify-content: space-evenly;
	position: relative;
	width: 100%;
}
/*header	*/
.header{
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#logo_reservia{
	padding-top: 1%;
}
#menu .ul, .li{
	display: flex;
}
#menu a{
	color: #0065FC;
	display: inline-block;
}
#hébergements a{
	margin-right: 150px ;
	border-top: 1px solid #0065FC;
	padding-top: 25px;
	color: blue;
	padding-left: 15%;
	padding-right: 15%;
}
#activités a{
	margin-right: 100px;
	color: black;
	padding-top: 27px;
}
#activités a:hover {	
	color: #0065FC;	
	border-top: 1px solid #0065FC;
}
#inscription a {
	font-weight: bold;
	padding-top: 27px;
	color: #0065FC;
}
#inscription a:hover {		
	border-top: 1px solid #0065FC;
}
/* FIN DE HEADER*/







/* SECTION AVEC HEADER*/

/* HEADER*/
#section_one{
	display: flex;
	flex-direction: column;
	margin-left: 2%;
}
#section_one header{
	display: flex;
	flex-direction: column; 
}
#section_one h1, p{
	margin: 0px;
	margin-bottom: 10px;
}
#section_one i{
	background-color: #DEEBFF;
	text-align: center;
	border-radius: 50%;
}






/* RECHERCHE*/
#rechercher{
	display: flex;
	width: 445px;
	height: 45px;
	margin-bottom: 1.5%;
}
#rechercher i{
	background-color: #F2F2F2;
	color: black;
	text-align: center;
	padding-top: 13px;
	border-radius: 10px 0 0 10px;
	width: 50px;
}
#input_ville{
	border: 1px solid #F2F2F2;
	font-size: 1.1em;
	font-weight: bolder;
	width: 220px;
	padding-left: 3%;
}
#bouton{
	border-color: #0060FC;
	background-color: #0065FC;
	color: white;
	text-align: center;
	font-size: 1.1em;
	border-radius: 0 10px 10px 0;
	width: 160px;
}
.btnMobile{
	display: none;
}







/* FILTRES*/
.filtres{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5%;
}
.filtres strong{
	padding-top: 0.5%;
	font-size: 1.2em;
}
.filtres i{
	color:  #0065FC;
	background-color: #DEEBFF;
}
.filtres i:hover{
	color: green;
}
.filtres span{
	padding-left: 5%;
	font-weight: 600 ;
}
.filtres_duo{
	display: flex;
	justify-content: space-around;
	width: 30%;
}
#form_economie{
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	width: 200px;
	font-size: 1.2em;
	margin-left: 5%;
}
#form_economie i{
	padding-top: 13px;
	padding-bottom: 13px;
	width: 42px;
	font-size: 0.9em;
}
#form_family{
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	margin-left: 2%;
	width: 170px;
	font-size: 1.2em;
}
#form_family i{
	padding-top: 13px;
	padding-bottom: 13px;
	width: 45px;
}
#form_romantic{
	border: 2px solid #F2F2F2;
	margin-left: 1%;
	border-radius: 25px;
	width: 200px;
	font-size: 1.2em;
}
#form_romantic i{
	padding-top: 12px;
	padding-bottom: 12px;
	width: 45px;	
}
#form_romantic i:hover{
	color: red;
}
#form_animals{
	border: 2px solid #F2F2F2;
	margin-left: 2%;
	border-radius: 25px;
	width: 260px;
	font-size: 1.2em;
}
#form_animals i{
	padding-top: 12px;
	padding-bottom: 12px;
	width: 45px;	
}
/* FIN DU FILTRE*/





/*ICONE INFO*/
#icon_info i{
	color: #0065FC;
	border: 2px solid #F2F2F2;
	background-color: white;
	padding: 5px;  
	width: 11px;
	text-align: center;
	font-size: 11px;
	margin-right: 0.5%;
}
/* FIN SECTION HEADER*/








/*DEBUT DE SECTION 1 HEBERGEMENTS A MARSEILLE*/
#section_hébergements{
	display: flex;
	justify-content: space-evenly;
	margin-bottom:5%;
	margin-left: 2%;
}
#section_hébergements h1{
	font-size: 1.5em;
	margin-left: 3%;
	margin-top: 5%;
}
#font_hébergements{
	background-color: #F2F2F2;
	border-radius: 10px;
}
/*BLOC FIGURE 1 ET 2*/

.bloc_figure1{
	display: flex;
}
.bloc_figure2{
	display: flex;
}
#bloc figure{
	background-color: white;
	border-radius: 15px;
	margin: 2%;
	width: 320px;
}
#bloc figure:hover{
	box-shadow: 1px 3px 3px #0065FC;
}
#bloc img{
	border-radius: 15px 15px 0 0;
	border: 2px solid white;
	width: 98%;

}
#bloc p{
	padding-left: 5%;
	margin-bottom: 2px ;
}
#bloc strong{
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
}
.étoile_bleu{
	color: #0065FC;
}
.étoile_gris{
	color: rgb(225 225 225);
}
#afficher_plus{
	padding-top: 2%;
	padding-left: 3%;
	list-style-type: none;
}
#afficher_plus a:hover{
	font-size: 1.5em;
}
/*FIN SECTION 1 HEBERGEMENTS A MARSEILLE*/










/***** ASIDE *****/

aside{
	background-color: #F2F2F2;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-left: 2%;
	margin-right: 2%;
	width: 100%;

	
}
aside h2{
	display: flex;
	justify-content: space-between;
	padding-top: 5%;
	padding-left: 6%;
	font-size: 1.5em;
	margin-left: 3%;
	width: 85%;
}
aside figure{
	display: flex;
	background-color: white;
	border-radius: 15px;
	width: 400px;
	height: 170px;
}
aside figure:hover{
	box-shadow: 1px 3px 3px #0065FC;
}
aside img{
	border: 1px solid white;
	border-radius: 15px 0 0 15px;
	width: 40%;
}
aside figcaption{
	width: 100%;
}
aside strong{
	font-size: 1.2em;
	font-weight: 600;
}
aside p{
	padding-left: 5px;
	margin: 2.5%;
} 
.étoiles{
	margin-top: 30%;
}
#figure_dubas{
	margin-bottom: 10%;
}
/* FIN ASIDE*/









/* ACTIVITE A MARSEILLE*/


#section_activité h1{
	margin-left: 2%;
}
#thèmes_marseille{
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
}
#thèmes_marseille figure{
	box-shadow: 0 3px  #F2F2F2;
	border-radius: 0 0 15px 15px;
	width: 100%;
}
#thèmes_marseille figcaption{
	padding: 3%;
	font-size: 1.2em;
}
#thèmes_marseille img{
	border-radius: 15px 15px 0 0;
	width: 100%;
}
.img_mobile{
	display: none;
}
#vieux_port{
	margin-left: 0px;
	margin-right: 0px;
}
#vieux_port img{
	height: 450px;
}
#figure_fort{
	margin-left: 0px;
	margin-right: 0px;
}
#figure_fort img{
	height: 200px;
}
#figure_île{
	margin-top: 20%;
	margin-left: 0px;
	margin-right: 0px;
}
#figure_île img{
	height: 135px;
}
#figure_parc img{
	height: 450px;
}
#figure_parc figure{
	margin-left: 0px;
	margin-right: 0px;
}
#notre_dame{
	margin-left: 0px;
	margin-right: 0px;
}
#notre_dame img{
	height: 190px;
}
#longchamp{
	margin-top: 12%;
	margin-left: 0px;
	margin-right: 0px;

}
#longchamp img{
	height: 175px;
}
/* FIN ACTIVITE A MARSEILLE*/








/* FOOTER*/
#blocs{
	display: flex;
	background-color: #F2F2F2;
	width: auto;
	margin-top: 50px;
}
#blocs div{
	width: 45%;
	margin-top: 2.2%;
}
#blocs p{
	padding-left: 5%;
	font-size: 1.2em;
}
#blocs li{
	padding-bottom: 5px;
}
#propos{
	padding-left: 4%;
	width: 270px;
	list-style-type: none;
}
#nos_hébergements{
	list-style-type: none;
	width: 200px;
	padding-left: 4%;
}
#assistance{	
	padding-left: 4%;
	width: 155px;
	list-style-type: none;
}
#blocs li{
	margin: 2%;
}
/* FIN FOOTER*/





/*================== RESONSIVE=======================*/







/*RESPONSIVE DESKTOP
@media (min-width: 769px) and (max-width: 1460px){
	*******FILTRE**************
	.filtres strong{
		padding-top: 10px;
	}
	.filtres_duo{
		width: auto;
	}



	***********ASIDE****************
   #section_hébergements{
   	flex-direction: column-reverse;
   }
   aside{
   	margin-left: 0px;
   }
   aside h2{
   	padding-top: 0px;
   }
   aside figure{
   	margin: auto;
   	height: 150px;
   	width: 350px;
   	margin-top: 3%;
   }
   #az {
   	display: flex;
   	justify-content: space-between;
   	flex-wrap: wrap;
   }
   #figure_dubas{
   	margin-bottom: 3%;
   }
   .étoiles{
   	margin-top: 30px;
   }

   ***********SECTION HEBERGEMENT*****************
   #font_hébergements{
   	width: 100%;
   	margin-top: 3%;
   }




   ***********ACTIVITE MARSEILLE***********************
   #thèmes_marseille{
   	justify-content: space-around;
   	flex-wrap: wrap;
   	width: 100%;
   	margin: auto;
   }
}
*/

	

/*RESPONSIVE TABLETTE*/
@media  (min-width: 600px) and (max-width: 1024px){
	#conteneur{
		width: 950px;
		margin-left: 5%;
	}
	header{
		display: inline-block;
		
	}
	#menu .ul, .li{
		flex-direction: column-reverse;
	}
	#activités a{
		padding-top: 20px;
		margin-left: 30%;
		margin-top: 10%;
	}
	#hébergements a{
		border-top: none;
		margin-left: 13%;
		margin-top: 10%;
		margin-bottom: 10%;	
		border-bottom: 1px solid blue ;
		margin-bottom: 5%;
		padding-bottom: 10%;	
	}
	#inscription a{
		margin-left: 30%;
	}
	#rechercher{
		margin: auto;
		width: auto;
	}
	#input_ville{
		width: 50%;
	}



	/*FILTRES*/
	.filtres{
		height: auto;
		flex-direction: column;
		margin-top: 2%;
    }
    .filtres_duo{
    	width: auto;
    	display: block;
    	margin-left: 10%;
    	margin-bottom: 3%;
    }
    #form_economie{
    	margin-left: 0px;
    	margin-bottom: 3%;
    }
    #form_family{
    	margin-left: 0px;
    }
    #form_romantic{
    	margin-left: 10%;
    	margin-bottom: 3%;
    }
    #form_animals{
    	margin-left: 10%;
    }
    



	/*ASIDE*/
	aside{
		width: 55%;	
		margin-left: 25%;	
		margin-bottom: 5%;
	}
	aside h2{
		padding-top: 0px;
		padding-left: 0px;
		
		margin: auto;
		margin-bottom: 2%;
		margin-top: 3%;
	}
	aside figure{
		margin: auto;
		margin-top: 3%;
	}
	#figure_dubas{
		margin-bottom: 3%;
	}




    /*SECTION HEBERGEMENTS*/
    #section_hébergements{
		flex-direction: column-reverse;
	}
	.bloc_figure1{
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.bloc_figure2{
		justify-content: space-around;
		flex-wrap: wrap;
	}




	/*THEMES MARSEILLES*/
	#thèmes_marseille{
		display: block;
		width: auto;
		height: auto;
		text-align: center;
   }
    #font_hébergements{
   		border-radius: 0;
   		text-align: center;
   		width: auto;
   }
   #bloc figure{
 		height: auto;
   }
   #bloc img{
   	height: auto;
   }
   




   /*ACTIVITE MARSEILLE*/
   #section_activité h1{
   	text-align: center;
   }
	#thèmes_marseille div{
		width: 50%;
		height: auto;
		margin: auto;
	}
	#thèmes_marseille img{
		border: 2px solid white;
		border-radius: 0 0 14px 14px;
		height: auto;
		width: 100%;
	}
	



	/*FOOTER*/
	#blocs{
		display: block;
		margin: 0;
		height: auto;
	}
	#blocs ul{
		padding-left: 85px;
	}
	#blocs p{
		font-size: 1.2em;
		padding-left: 40px;
	}
	#blocs div{
		width: auto;
	} 
}



/*RESPONSIVE MOBILE*/
@media (max-width: 599px){
	/**************HEADER****************/
	#conteneur{
		width: 450px;
	}
	.header{
		display: inline-block;
	}
	#logo_reservia{
		width: 0%;
		height: 0px;
	}
	.ul{
		flex-direction: column-reverse;
	}
	#logo_reservia{
		padding-left: 10%;
	}
	#inscription{
		padding-left: 115%;
		margin-bottom: 5%;
	}
	#inscription a{
		padding-top: 15px;
	}
	#hébergements a{
		border-top: none;
		margin-right: 35%;	
	}
	#hébergements span{
		padding-bottom: 10px;
		border-bottom: 2px solid #0065FC;
		padding-left: 25%;
	}
	#activités a{
		margin-left: 100%;
		margin-right: 80px;
	}
	#activités span{
		padding-bottom: 10px;
		border-bottom: 2px solid #F2F2F2;
		
	}







	/***==========BOUTON======***/


	#section_one header{
		display: inline-block;
		margin-top: 7%;
		margin-left: 7%;
		width: 90%;
	}
	#rechercher{
		margin-left: 7%;
		width: 90%;
		margin-top: 5%;
		margin-bottom: 8%;
	}
	#rechercher i{
		font-size: 1.1em;
	}
	#input_ville{
		width: 60%;
		padding-left: 4%;
		font-size: 1.2em;
	}
	#rechercher .btnMobile i{
		color: white;
		background-color: #0065FC ;
		border-radius: 7px;
	}
	.btnMobile{
		display: inline-block;
		background-color: #0065FC;
		text-align: center;
		font-size: 1.1em;
		border-radius: 7px;
	}
	#bouton{
	display: none;
	}	






   /*FILTRES*/

	.filtres{
		display: inline-block;
		margin-bottom: 5%;
		height: auto;
    }
    .filtres strong{
    	margin: 7%;
    }
    .filtres_duo{
    	width: 100%;
    	justify-content: initial;
    }
    #form_economie{
    	width: 45%;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    	margin-top: 3%;
    }
    #form_family{
    	margin-left: 5%;
    	width: 35%;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    	margin-top: 3%;
    }
    #form_romantic{
    	margin-left: 5%;
    	width: 45%;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    }
    #form_animals{
    	margin-left: 5%;
    	width: 60%;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #icon_info i{
    	width: 10px;
    	padding: 5px;
    	margin-right: 2%;
    	float: left;
    }
    #icon_info {
    	width: 90%;
    	margin-left: 5%;
    	margin-bottom: 10%;
    }







 
   /*++++++SECTION ASIDE++++++++++++*/
    #section_hébergements{
		flex-direction: column-reverse;
		margin: 0;
	}
	#font_hébergements{
		width: auto;
		background-color: white;
	}
	aside{
		display: block;
		width: 100%;
		border-radius: 0;
		margin: auto;		
	}
	aside h2{
		padding-left: 2%;
		width: 85%;
		font-weight: 900;
		font-size: 1.6em;
	}
	aside figure{
		margin-left: 4%;
		height: auto;
		margin-bottom: 3%;
		margin-right: 5%;
	}
	.étoiles{
		margin-top: 30%;
	}









	/*SECTION HEBERGEMENTS*/
	#section_hébergements h1{
		margin-left: 7%;
	}
	#bloc figure{
		box-shadow: 1px 3px 1px #F2F2F2;
		margin-bottom: 5%;
		width: 100%;
		margin: auto;
		margin-bottom: 5%;
	}
	#bloc img{
		height: 130px;
	}
	.bloc_figure1{
		display: block;
	}
	.bloc_figure2{
		display: block;	
	}
   #thèmes_marseille{
		display: block;
		width: auto;
		height: auto;
   }
    #bloc{
   		flex-direction: column; 		
   }
   #afficher_plus{
   	font-size: 1.2em;
   	margin-bottom: 10%;
   }






  /*ACTIVITE A MARSEILLE*/
	#section_activité h1{
		margin-left: 10%;
	}
	#thèmes_marseille{
		margin-right: 0;
	}
	#thèmes_marseille figure{
		box-shadow: 0 4px 8px #f2f2f2;
		width: 100%;
		margin-bottom: 5%;
		margin-top: 6%;
	}
	#thèmes_marseille img{
		border-radius:  14px 14px 0 0;
		height: 150px;
	}
	.img_vieuxport{
		display: none;
	}
	.img_mobile{
		display: inline-block;
	}
	.img_descalanques{
		display: none;
	}
	#figure_île img{
		margin-top: 0;
	}
	#longchamp{
		padding-top: 0;
	}








	/*------------FOOTER-------------*/
	#blocs{
		flex-direction: column;
		height: auto;
	}
	#blocs div{
		margin-top: 5%;
		margin-left: 3%;
	}
	#blocs p{
		margin-top: 5%;
	}
	#blocs li{
		width: 100%;
	}
}

