body{
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}

#conteneur {
	margin: auto;
	width: 80%;
}
#conteneur a{
	text-decoration: none;
}
a:visited{
	color: black;
}
/*header	*/
.header{
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#logo_reservia{
	padding-top: 1%;
}
#menu .ul, .li{
	display: flex;	
	width: auto;
}
#menu a{
	font-size: 1.1em;
	color: #0065FC;
	display: inline-block;
}
#menu a:hover {
	border-top: 1px solid #0065FC;
	padding-left: 15%;
	padding-right: 15%;
}
#hébergements a{
	margin-right: 85px ;
	border-top: 1px solid #0065FC;
	padding-top: 25px;
	color: blue;
	padding-left: 15%;
	padding-right: 15%;
	
}
#activités a{
	margin-right: 85px;
	color: black;
	padding-top: 27px;
}
#inscription a {
	font-weight: bold;
	padding-top: 27px;
	color: #0065FC;

}
/* FIN DE HEADER*/







/* SECTION AVEC HEADER*/

/* HEADER*/
#section_one{
	display: flex;
	flex-direction: column;
	margin-left: 2%;
}
#section_one header{
	display: flex;
	flex-direction: column; 
}
#section_one h1, p{
	margin: 0px;
	margin-bottom: 10px;
}
#section_one i{
	background-color: #DEEBFF;
	text-align: center;
	border-radius: 50%;
}






/* RECHERCHE*/
#rechercher{
	display: flex;
	width: 275px;
	height: 30px;
	margin-bottom: 1.5%;
}
#rechercher i{
	background-color: #F2F2F2;
	color: black;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px 0 0 10px;
	width: 20%;
}
#input_ville{
	border: 1px solid #F2F2F2;
	font-size: 1.1em;
	font-weight: bolder;
	width: 150px;
	padding-left: 3%;
}
#bouton{
	border-color: #0065FC;
	background-color: #0065FC;
	color: white;
	text-align: center;
	font-size: 1.1em;
	border-radius: 0 10px 10px 0;
	width: 150px;
}
.btnMobile{
	display: none;
}







/* FILTRES*/
.filtres{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5%;
	height: 30px;
}
.filtres strong{
	padding-top: 1%;
	font-size: 1.2em;

}
.filtres i{
	color:  #0065FC;
	background-color: #DEEBFF;
}
.filtres i:hover{
	color: green;
}
.filtres span{
	padding-left: 5%;
	font-weight: 600 ;
}
.filtres_duo{
	display: flex;
	width: 30%;
}
#form_economie{
	border: 1px solid #F2F2F2;
	margin-left: 8%;
	border-radius: 25px;
	width: 43%;
	font-size: 1.2em;
	height: 30px;
}
#form_economie i{
	padding: 10px;
	width: 12px;
	font-size: 0.9em;
}
#form_family{
	border: 1px solid #F2F2F2;
	margin-left: 5%;
	border-radius: 25px;
	width:35%;
	font-size: 1.2em;
	height: 30px;
}
#form_family i{
	padding: 10px;
	font-size: 0.9em;
	width: 10%;
}
#form_romantic{
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	width: 12%;
	font-size: 1.2em;
	height: 30px;
}
#form_romantic i{
	padding: 10px;
	width: 10%;	
	height: 10px;
}
#form_romantic i:hover{
	color: red;
}
#form_animals{
	border: 1px solid #F2F2F2;
	margin-left: 2%;
	border-radius: 25px;
	width: 17%;
	font-size: 1.2em;
	height: 30px;
}
#form_animals i{
	padding: 10px;
	width: auto;
	font-size: 0.9em;	
}
/* FIN DU FILTRE*/





/*ICONE INFO*/
#icon_info i{
	color: #0065FC;
	border: 1px solid #F2F2F2;
	background-color: white;
	padding: 2px;  
	width: 7px;
	text-align: center;
	font-size: 6.5px;
	margin-right: 0.5%;
}
/* FIN SECTION HEADER*/




/*DEBUT DE SECTION 1 HEBERGEMENTS A MARSEILLE*/
#section_hébergements{
	display: flex;
	justify-content: space-between;
	margin-bottom:5%;
	margin-left: 2%;
	width: auto;
}
#section_hébergements h1{
	font-size: 1.5em;
	margin-left: 3%;
	margin-top: 5%;
}
#font_hébergements{
	background-color: #F2F2F2;
	border-radius: 10px;
	width: 120%;
}
#bloc figure{
	background-color: white;
	border-radius: 15px;
	border: 1px solid white;
	margin: 2%;
	height: 150px;
}
#bloc figure:hover{
	margin: 1%;
	box-shadow: 1px 3px 3px #0065FC;
}
#bloc img{
	border-radius: 15px 15px 0 0;
	border: 2px solid white;
	width: 97.5%;
	height: 65%;
}
#bloc p{
	padding-left: 5%;
	margin-bottom: 2px ;
}
#bloc strong{
	margin: auto;
	font-size: 1.2em;
	font-weight: bold;
}
.étoile_bleu{
	color: #0065FC;
}
.étoile_gris{
	color: rgb(225 225 225);
}
/*BLOC FIGURE 1 ET 2*/

.bloc_figure1{
	display: flex;
}
.bloc_figure2{
	display: flex;
}
#afficher_plus{
	/*color: none; ne pas oublier de mettre la couleur en noir*/
	padding-top: 2%;
	padding-left: 3%;
	list-style-type: none;
}
#afficher_plus a:hover{
	font-size: 1.7em;
}
/*FIN SECTION 1 HEBERGEMENTS A MARSEILLE*/





/* ASIDE*/

aside{
	background-color: #F2F2F2;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-left: 2%;
	margin-right: 2% 
}
aside h2{
	display: flex;
	justify-content: space-between;
	width: 83%;
	padding-top: 5%;
	padding-left: 6%;
	font-size: 1.5em;
	margin-left: 3%;
}
aside figure{
	display: flex;
	background-color: white;
	border: 2px solid white;
	border-radius: 15px;
	width: 85%;
	margin-left: 5%;
	
}
aside figure:hover{
	margin: 1%;
	box-shadow: 1px 3px 3px #0065FC;
}
aside img{
	width: 40%;
	border: 1px solid white;
	border-radius: 15px 0 0 15px;
}
aside figcaption{
	width: 100%;
}
aside strong{
	font-size: 1.2em;
	font-weight: 600;
}
aside p{
	padding-left: 5px;
	margin: 2.5%;
} 
.étoiles{
	margin-top: 30%;
}
#figure_dubas{
	margin-bottom: 10%;
}
/* FIN ASIDE*/





/* ACTIVITE A MARSEILLE*/

#section_activité{
	margin-top: 15px;
	border-radius: 15px;
	width: auto;
	height: auto;
}
#section_activité h1{
	margin-left: 2%;
	width: auto;
}
#thèmes_marseille{
	display: flex;
	justify-content: space-between;
	width: auto; 
	margin-right: 2%;
}
#thèmes_marseille div{
	border-radius: 15px;
}
#thèmes_marseille figure{
	box-shadow: 0 3px  #F2F2F2;
	border-radius: 0 0 15px 15px;
	width: 90%;
	margin-left: 7%;
}
#thèmes_marseille figcaption{
	padding: 3%;
	font-size: 1.2em;
}
#thèmes_marseille img{
	border-radius: 15px 15px 0 0;
}
.img_mobile{
	display: none;
}
#vieux_port img{
	width: 100%;
	height: 310px;
}
#vieux_port:hover{
	padding: 1%;
	box-shadow: 1px 3px 3px #0065FC;
	border-radius: 15px;
}
#figure_fort img{
	height: 100px; 
	width: 100%;
}
#figure_fort:hover{
	padding: 1%;
	box-shadow: 1px 3px 3px #0065FC;
	border-radius: 15px;
}
#figure_île img{
	width: 100%;
	height: 85px;
	margin-top: 85px;
}
#figure_parc img{
	width: 100%;
	height: 310px;
}
#figure_parc:hover{
	box-shadow: 1px 3px 3px #0065FC;
	border-radius: 15px;
	margin: 1px;
}
#notre_dame img{
	width: 100%;
}
#notre_dame:hover{
	box-shadow: 1px 3px 3px #0065FC;
	border-radius: 15px;
	margin: 1px;
}
#longchamp{
	width: auto;
	padding-top: 40px ;	
}
#longchamp img{
	width: 100%;
}
/* FIN ACTIVITE A MARSEILLE*/




/* FOOTER*/
#blocs{
	display: flex;
	background-color: #F2F2F2;
	width: auto;
	margin-top: 50px;
	height: 130px;
}
#blocs div{
	width: 45%;
	margin-top: 2.2%;
}
#blocs p{
	padding-left: 5%;
	font-size: 1.2em;
}
#blocs li{
	padding-bottom: 5px;
}
#propos{
	padding-left: 4%;
	width: 270px;
	list-style-type: none;
}
#nos_hébergements{
	list-style-type: none;
	width: 200px;
	padding-left: 4%;
}
#assistance{	
	padding-left: 4%;
	width: 155px;
	list-style-type: none;
}
#blocs li{
	margin: 2%;
}
/* FIN FOOTER*/





/*RESPONSIVE DESKTOP*/
@media (min-width: 769px) and (max-width: 1164px){
	/*FILTRES*/
	.filtres{
		height: auto;
	}
	.filtres_duo{
		width: 280px;
	}
	#form_romantic{
		height: auto;
		width: 130px;
	}
	#form_animals{
		height: auto;
		width: 150px;
	}
	.bloc_figure1{
		margin-bottom: 5%;
	}
	#font_hébergements{
   		width: 120%;
   }
   #bloc figure{
 		height: auto;
   }
   #bloc img{
   	height: auto;
   }
}

<<<<<<< HEAD

=======
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)


/*RESPONSIVE TABLETTE*/
@media  (min-width: 425px) and (max-width: 768px){
	#conteneur{
<<<<<<< HEAD
		border: 1px solid;
		width: 100%;		
=======
		display: block;
		background-color: rgb(160 245 250);
		width: 90%;	
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
	}
	.header{
		display: flex;
		height: 170px;
		margin-bottom: 5%;
		border-bottom: 1px solid blue ;
	}
	#logo_reservia img{
		width: 120px;
	}
	#menu .ul, .li{
		display: flex;
		flex-direction: column-reverse;
	}
	#activités a{
		padding-left: 30%;
	}
	#hébergements a{
		border-top: none;
		padding-left: 30%;
	}
	#inscription a{
		padding-left: 30%;
	}
	#rechercher{
		margin: auto;
	}



	/*FILTRES*/
	.filtres{
		height: auto;
		flex-direction: column;
		margin-top: 2%;
    }
    .filtres_duo{
    	width: auto;
    	display: block;
    	margin-left: 10%;
    	margin-bottom: 3%;
    }
    #form_economie{   	
    	width: 50%;
    	border: 1.5px solid #F2F2F2;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    	margin-left: 0;
    }
    #form_economie i{
    	padding: 9.5;
    }
    #form_family{
    	width: 50%;
    	border: 1.5px solid #F2F2F2;
    	border-radius: 45px; 
    	margin-left: 0;
    }
    #form_family i{
    	width: 11px;
    }
    #form_romantic{
    	margin-left: 10%;
    	width: 45%;
    	border: 1.5px solid #F2F2F2;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #form_romantic i{
    	width: 8%;
    }
    #form_animals{
    	margin-left: 10%;
    	width: 45%;
    	border: 1.5px solid #F2F2F2;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #icon_info i{
    	width: 2%;
    	margin-right: 2%;
    }





    /*SECTION HEBERGEMENTS*/
    #section_hébergements{
		flex-direction: column-reverse;
	}

	/*ASIDE*/
	aside{
		width: auto;
		border-radius: 0;
		margin-top: 5%;
		margin-bottom: 5%;
		border: 5px solid white;
	}
	aside h2{
		padding-left: 2%;
		padding-bottom: 2%;
	}
	aside figure{
		height: auto;
	}
	aside p{
		font-size: 1.1em;
	}
	.étoiles{
		margin-top: 30%;
	}





	/*THEMES MARSEILLES*/
	#thèmes_marseille{
		display: block;
		width: auto;
		height: auto;
		text-align: center;
   }
    #font_hébergements{
   		border-radius: 0;
   		text-align: center;
   		width: auto;
   }
   #bloc figure{
 		height: auto;
   }
   #bloc img{
   	height: auto;
   }
   




   /*ACTIVITE MARSEILLE*/
   #section_activité h1{
   	text-align: center;
   	margin-top: 10%;
   }
	#thèmes_marseille figure{
		box-shadow: 0 14px #f2f2f2;
		height: auto;
		margin-bottom: 5%;
		margin-top: 10%;
		border: 1px solid white;
		width: 60%;
		margin-left: 25% ;
	}
	#thèmes_marseille img{
		border: 2px solid white;
		border-radius: 0 0 14px 14px;
		height: auto;
		width: 80%;
	}
	#figure_île img{
		margin-top: 0;
	}
	#longchamp{
		padding-top: 0;
	}



	/*FOOTER*/
	#blocs{
		display: block;
		margin: 0;
		height: auto;
	}
	#blocs ul{
		padding-left: 85px;
	}
	#blocs p{
		font-size: 1.2em;
		padding-left: 40px;
	}
	#blocs div{
		width: auto;
	} 
}
*/



/*RESPONSIVE MOBILE*/
@media (max-width: 424px){
	#conteneur{
<<<<<<< HEAD
		width: 80%;
=======
		width: auto;
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
	}
	.header{
		display: inline-block;
	}
	#logo_reservia{
		width: 0%;
		height: 0px;
		padding-left: 2% ;
	}
	.ul{
<<<<<<< HEAD
		flex-direction: column-reverse;
=======
		flex-direction: column-reverse;	
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
	}
	#inscription{
		padding-left: 75%;
		margin-bottom: 10%;
	}
	#inscription a{
		padding-top: 17%;
	}
	#hébergements a{
		border-top: none;
		padding-top: 0;	
		padding-left: 1%;
		margin-right: 0px;
	}
	#hébergements span{
		padding-bottom: 10px;
		border-bottom: 1px solid blue;
		margin-right: 0px;
		padding-right: 25px;
		padding-left: 20px;
	}
	#activités a{
		padding-top: 0;
		margin-right: 0px;
	}
	#activités span{
		padding-bottom: 10px;
		border-bottom: 1px solid gray;
		padding-right: 60px;
		padding-left: 70px;
		margin-left: 25px;
		margin-right: 0px ;
	}
	#section_one header{
		display: inline-block;
		font-size: 1.1em;
		margin-left: 2%;
		margin-top: 10%;
	}
	#rechercher{
		margin-left: 3%;
		width: 100%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	#rechercher i{
		width: 35px;
	}
	#input_ville{
		width: 63%;
		padding-left: 4%;
	}
	#rechercher .btnMobile i{
		color: white;
		background-color: #0065FC;
		border-radius: 15px;
	}
	.btnMobile{
		display: inline-block;
		background-color: #0065FC;
		text-align: center;
		font-size: 1.1em;
		border-radius: 15px;
		width: 13%;
	}
	#bouton{
	display: none;
	}	
<<<<<<< HEAD



   /*FILTRES*/

=======
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
	.filtres{
		display: inline-block;
		margin-bottom: 5%;
    }
    .filtres strong{
    	margin: 2%;
    }
    #form_economie{
    	border: 1px solid gray;
    	margin-left: 1%;
    	width: 190px;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    	margin-top: 3%;
    }
    #form_economie i{
    	padding: 13px;
    }
    #form_family{
    	border: 1px solid gray;
    	margin-left: 5%;
    	width: 150px;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    	margin-right: 2%;
    	margin-top: 3%;
    }
    #form_family i{
    	padding: 12px;
    }
    #form_romantic{
    	margin-left: 1%;
    	width: 180px;
    	border: 1px solid gray;
    	border-radius: 45px; 
    	margin-bottom: 3%;
    }
    #form_romantic i{
    	padding: 12px;
    }
    #form_animals{
    	margin-left: 1%;
    	width: 250px;
    	border: 1px solid gray;
    	border-radius: 45px; 
    	margin-bottom: 2%;
    }
    #form_animals i{
    	padding: 12px;
    }
    #icon_info i{
<<<<<<< HEAD
    	width: 5px;
    	padding: 3px;
=======
    	width: 11px;
    	padding: 6px;
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
    	margin-right: 3%;
    	margin-left: 2%;
    	border: 1px solid gray;
    	float: left;
    }
    #icon_info {
<<<<<<< HEAD
    	width: 80%;
    	margin-left: 7%;
    	font-size: 1.2em;
    	margin-bottom: 10%;
    }





 
 /*SECTION ASIDE*/
=======
    	font-size: 1.1em;
    }
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
    #section_hébergements{
		flex-direction: column-reverse;
		margin: 0;
	}
	#font_hébergements{
		width: auto;
		background-color: white;
	}
	aside{
		display: block;
		width: auto;
		border-radius: 0;
		margin: auto;		
	}
	aside h2{
		padding-left: 2%;
		width: 90%;
		font-weight: 900;
		font-size: 1.6em;
	}
	aside figure{
		margin-left: 4%;
		height: auto;
		margin-bottom: 3%;
		margin-right: 5%;
	}
	.étoiles{
		margin-top: 20%;
	}
	#section_hébergements h1{
		font-weight: 900;
		margin-left: 7%;
	}
	#bloc figure{
		box-shadow: 1px 3px 1px #F2F2F2;
		margin: auto;
		margin-bottom: 5%;
	}
	.bloc_figure1{
		display: block;
	}
	.bloc_figure2{
		display: block;	
	}
   #thèmes_marseille{
		display: block;
		width: auto;
		height: auto;
   }
    #bloc{
   		flex-direction: column; 		
   }
   #bloc img{
   		height: 125px;
   }
<<<<<<< HEAD






  /*ACTIVITE A MARSEILLE*/
	#section_activité h1{
		margin-left: 10%;
	}
=======
>>>>>>> parent of 7441fa2 (rajout responsive mobile et tablette + modification de la taille de police rajustements de mes photos)
	#thèmes_marseille figure{
		box-shadow: 0 4px 8px #f2f2f2;
		height: 210px;
		width: auto;
		margin-bottom: 5%;
		margin-top: 10%;
	}
	#thèmes_marseille img{
		border-radius:  14px 14px 0 0;
		height: 150px;
	}
	.img_vieuxport{
		display: none;
	}
	.img_mobile{
		display: inline-block;
	}
	.img_descalanques{
		display: none;
	}
	#figure_île{
		padding-top: 0%;
	}
	#figure_parc{				
		height: auto;
		width: auto;
	}
	#longchamp{
		padding-top: 0;
	}
	#blocs{
		flex-direction: column;
		height: auto;
	}
	#blocs div{
		width: auto;
		margin-top: 0;
	}
	#blocs p{
		margin-top: 10%;
	}
	#propos{
		width: auto;
	}
	#nos_hébergements{
		width: 50%;
	}
	#assistance{
		width: 45%;
	}
}